*{
margin:0;
padding:0;


}
body{
    height:100vh;
    background:linear-gradient(black,rgba(163, 8, 8, 0.823));
    color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#time{
    font-size: 120px;
    /* padding-top: 30%; */
}